#header {
	top: 0;
	width: 100%;
	height: 25%;
	background: #03fcca;
	position: relative; 
	text-align: center;
}

#navigation {
	background: white;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#picture {
	text-align: center;
}
#Breakout {
	text-align: center;
}
#WC18 {
	text-align: center;	
}

#Trauma {
	text-align: center;
}

body {
	background: #03fce8;
}

footer {
	background: gray;
}

table, td {
  border: 1px solid black;
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}


