.App {
  text-align: center;
  padding-top: 65px; /* Ensures Navbar Space */
  transition: padding-top 0.3s;
}

/* ✅ Only Apply This to Home Section */
.home img {
  max-width: 90%;
  height: auto;
}

/* ✅ Only Apply This to Projects Section */
.projects-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Prevents entire page from having horizontal scrolling */
body, html {
  width: 100%;
  overflow-x: hidden;
}

/* ✅ FIX: Ensure No Extra Spacing on Mobile */
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* Ensures correct alignment */
}

/* ✅ Ensures Sections Don't Overflow */
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
